<div class="card text-start text-lg-center px-2 px-lg-4">
  <h2 class="mt-2">
    <%= link_to blog.title.upcase, blog, class: "text-light-black" %>
  </h2>

  <p class="published-text">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>

  <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>

  <p class="text-start">
    <%= blog.body %>
  </p>
</div>