<% unless current_user.is_a? GuestUser %>
  <div
    data-controller="comment-form"
    data-comment-form-blog-id-value="<%= @blog.id %>">
    <div class="form-group">
      <textarea
        id="comment_content"
        class="form-control"
        data-comment-form-target="textarea"></textarea>
    </div>
    <button
      class="btn btn-secondary text-white mb-3"
      data-action="click->comment-form#send">Add Comment</button>
  </div>
<% end %>