<div class="container">
  <h1 class="mt-4 mt-lg-5">Topics</h1>
  <hr>
</div>

<div class="container blog-container bg-tranparent">

  <div class="mt-4">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-main">

          <%= render @topics %>

        </div>
      </div>

      <div class="col-md-4">
        <%= render "shared/blog_sidebar" %>
      </div>
    </div>
  </div>
</div>