<div class="<%= 'mastfoot' unless current_page?(about_me_path) || current_page?(contact_path) || current_page?(blogs_path)%>">
  <div class="inner">
    <p class="app-footer"><%= copyright_generator %></p>
  </div>
</div>