<div class="text-white w-100 sticky-top">
  <div class="navbar-bg w-100">
    <div class="inner container d-flex justify-content-between align-items-center">
      <h3 class="masthead-brand m-0 text-white">April Campos</h3>
      <nav class="nav nav-masthead app-nav">
        <%= nav_helper 'nav-link text-white', 'span' %>
        <%= login_helper 'nav-link text-white' %>
      </nav>
    </div>
  </div>
</div>