<div class="d-flex justify-content-start gap-3">
  <%= link_to 'Write a New Blog', new_blog_path, class: 'btn btn-sm btn-secondary bg-white' if logged_in?(:site_admin)%>
  <%= link_to 'See All Topics', topics_path, class: 'btn btn-sm btn-secondary bg-white' %>
</div>