<div class="text-white w-100 sticky-top" data-controller="hamburger">
  <div class="navbar-bg w-100">
    <div class="container d-flex justify-content-between align-items-center py-2">
      <h3 class="masthead-brand m-0 text-white">April Campos</h3>
      <button class="btn text-white d-lg-none" type="button"
              data-bs-toggle="collapse" data-bs-target="#mobileNavbar"
              aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation"
              data-action="click->hamburger#toggleIcons">
        <i class="fa fa-bars" data-hamburger-target="hamburgerIcon"></i>
        <i class="fa fa-times d-none" data-hamburger-target="closeIcon"></i>
      </button>
    </div>

    <div class="collapse" id="mobileNavbar">
      <div class="container px-3">
        <nav class="nav flex-column align-items-start">
          <%= nav_helper 'nav-link text-white px-0 mx-0', 'span' %>
          <%= login_helper 'nav-link text-white px-0 mx-0' %>
        </nav>
      </div>
    </div>
  </div>
</div>
