<h1>About Me</h1>

<hr>

<div class="row g-4">
  <div class="col-md-4 me-md-5">
    <%= image_tag "profile.jpeg", height: 400, width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-7 ps-md-3 text-start">
    <p>I am a Full-Stack Developer with a strong focus on Ruby on Rails and a passion for crafting scalable, high-performance web applications.</p>
    
    <p>With experience across full-stack software development, I specialize in Ruby and the Ruby on Rails framework, along with expertise in JavaScript, jQuery, PHP, and WordPress development. </p>

    <p>My technical stack also includes RSpec for testing, frontend frameworks like Tailwind, Bootstrap, and Foundation, and database management with PostgreSQL and MySQL. Additionally, I have a well-rounded understanding of Linux administration, ensuring smooth deployment and maintenance of applications.</p>

    <p>I take a collaborative and transparent approach to development, prioritizing clear communication and well-structured design patterns. When working on a project, I not only build applications to meet client specifications but also provide regular updates to ensure alignment with their vision. My goal is to deliver the right product—on time and within budget—while maintaining high standards of quality and performance.</p>
  </div>
</div>