<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Complete Address</h3>

    <p>1077 Quezon Drive, Dau, Mabalacat, Pampanga</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "+639997061891" %></p>

    <h3>Email</h3>

    <p>aprilcamille.campos@gmail.com</p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3850.5717767382284!2d120.58150027498583!3d15.181844285376298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396ed9a67e2d343%3A0xfd4209ea4ad47b70!2s5HJM%2BPJM%2C%201077%20Camp%20DAU%20Rd.%2C%20Mabalacat%2C%20Pampanga!5e0!3m2!1sen!2sph!4v1743054604395!5m2!1sen!2sph" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
