<div class="d-flex flex-column justify-content-lg-center min-vh-100">
  <h1 class="mt-5 mt-lg-0 text-start">Hello, I'm April.</h1>
  <hr>
  <p class="lead text-start mb-4">
    Software development should be built on clarity and collaboration. When I work on a project, I ensure that every stage is transparent, keeping clients informed while delivering a high-quality, well-crafted product.
  </p>
  <p class="lead text-start">
    I approach every project with thoughtful planning and a deep respect for the user experience. Whether building from scratch or improving an existing system, I focus on clean, maintainable code and intuitive interfaces.
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-md btn-secondary bg-white" %>
  </p>
</div>