<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Software development should be built on clarity and collaboration. When I work on a project, I ensure that every stage is transparent, keeping clients informed while delivering a high-quality, well-crafted product.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>